
.intro {
    padding: 25px 50px 25px 50px;
    text-align: justify;
}

p.text {
    text-align: justify;
    padding: 10px 30px 10px 30px;
}

body {
    background-color: antiquewhite;
    color: slategray;
    margin: 25px 50px 50px 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 

}

#blogTitle {
    margin: 25px 50px 25px 50px;    
    padding: 25px 50px 25px 50px; 
    text-align: center;   
    text-shadow: 2px 2px 5px darkslategray;
    
}

#countryName {
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 5px darkslategray;
}
.country {
    margin-top: 25px;
    padding: 15px 25px 15px 25px;    
}

.country1 {
    background-color: rgb(228, 217, 203);
    border: 2px solid rgb(228, 217, 203);
    border-radius: 5px;
}

.country2 {
    background-color: rgb(228, 217, 203);
    border: 2px solid rgb(228, 217, 203);
    border-radius: 5px;
}

.country3 {
    background-color: rgb(228, 217, 203);
    border: 2px solid rgb(228, 217, 203);
    border-radius: 5px;
}
 
  footer {
    text-align: center;
    padding: 100px 50px 25px 50px;
    color: darkgrey;
}

/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 20%;
    padding: 20px 0px 10px 50px;
    border: 2px solid rgb(228, 217, 203);
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  .column img:hover {
    opacity: 1;
  }

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    ;
  }  

  /* The expanding image container (positioning is needed to position the close button and the text) */
 .container {
    position: relative;
    display: none;
    margin: 20px 100px 10px 200px;
  }


  
 
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 150px;
    color: slategray;
    font-size: 35px;
    cursor: pointer;
  } 